* {
    font-family: "Poppins", sans-serif;
    font-weight: 300; /* Light */
    padding: 0;
    color: #292A3B;
    margin: 0;
  }
  
.cardDiv{
    width: 626px;
    height: 382px;
    border-radius: 40px;
    margin: 1em 0;
  
  }
  .cardSolucion{
    padding: 58px 35px 58px 67px;
    
  }
  .cardSolucion div {
    height: 108px;
    width: 108px;
    border-radius: 50em;
    background-color: #00000048;
    text-align: center;
    vertical-align: bottom;
    margin-bottom: 2em;
  }
  .cardSolucion div i{
    font-size: 63px;
    line-height: 108px;
    color: white;
  }
  
  .cardSolucion h4{
    font-size: 24px;
    font-weight: 500;
    color: white;
  
  }
  .cardSolucion p{
    font-size: 22px;
    color: white;
    width: 470px;
  
  }
  .iconoCard{
    font-size: 63px;
    line-height: 108px;
    color: white;
    margin-top: 0.34em;

  }

  .iconoCard path{
    color: white;
    line-height: 108px;
  }

  @media (max-width: 700px) {
    .cardDiv{
      width: 90vw;
      height: auto;
      border-radius: 40px;
    
    }
    .cardSolucion p{
      font-size: 22px;
      color: white;
      width: 90%;
    
    }
      
  }
  
  

;